<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.dao.DeptDao">
   <select id="selListDept" resultType="com.myproject.common.pojo.Dept">
       select dept_no as deptNo,dept_name as deptName,db_source as dbSource from dept
   </select>

    <insert id="addDept" parameterType="com.myproject.common.pojo.Dept">
        insert into dept (dept_name,db_source) values (#{deptName},DATABASE())
    </insert>

    <select id="selDeptById" parameterType="java.lang.Integer" resultType="java.util.Map">
        select * from dept WHERE dept_no=#{deptNo}
    </select>

</mapper>
